body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("./opa.png"), linear-gradient(130deg, rgba(18, 54, 202, 1) 0 60%, rgba(202, 29, 44, 1) 40% 100%);
    background-position-x: 75%;
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#nav {
    width: 71%;
    height: 50px;
    display: inline-block;
    /* border: 1px solid white; */
    text-align: center;
    /* margin-left: 0%; */
    line-height: 7;
}

#link,
#link1,
#link2,
#link3,
li {
    list-style: none;
    text-decoration: none;
    color: white;
    /* line-height: 100px; */
    font-family: Helvetica;
    animation: 0.5s ease 0s 1 normal none running Animacija;
    display: inline-block;
    float: left;
    margin-left: 21px;
    font-size: 21px;

}

#link:hover, #link1:hover, #link2:hover, #link3:hover {
    text-decoration-line: underline;
}

.btns {
    width: 115px;
    height: 51px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 12px;
    font-family: Helvetica;
    cursor: pointer;
    margin-left: 170px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    position: relative;
}

.btn {
    width: 115px;
    height: 51px;
    border: none;
    background-color: white;
    color: rgb(21, 21, 119);
    border-radius: 12px;
    font-family: Helvetica;
    cursor: pointer;
    margin-right: 42px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    margin-left: 4px;
}

img {
    margin: 35px 7px 10px 162px;
    display: inline;
    position: relative;
    float: left;
    cursor: pointer;
}

.sect{
    display: block;
    height: 250px;
}
.h1 {
    width: 550px;
    text-align: left;
    font-size: 5vw;
    font-family: Helvetica;
    color: white;
    margin-left: 180px;
    margin-bottom: 0px;
    position: relative;
}

#chang {
    position: relative;
    width: 575px;
    font-family: Helvetica;
    font-size: 2vw;
    color: white;
    margin-left: 182px;
    margin-top: 0px;
}

.create {
    width: 168px;
    height: 76px;
    border: none;
    background-color: rgb(255, 89, 105);
    color: white;
    border-radius: 12px;
    font-family: Helvetica;
    cursor: pointer;
    margin-left: 167px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}
.create:hover{
    background-color: pink;
    color: black;
}

.circle1 , .circle2, .circle3, .circle4{
    width: 15px;
    height: 15px;
    border-radius: 12px;
    background-color: transparent;
    margin: 6px;
    cursor: pointer;
    margin-top: 20px;
}
.circle1{
    margin-left: 178px;
}

#change, #change1, #change2 ,#change3 {
    display: inline-block;
    /* margin-left: 163px;
   margin-top: 63px; */
}

#mobile-container {
    display: none;
    width: 100px;
    height: 200px;
    border: 1px solid white;
    position: absolute;
    background-color: white;
    text-align: center;
    padding: 10px;
    margin: 1px;
}

.menu-button {
    max-width: 50px;
    border: 2px solid white;
    border-radius: 3px;
    padding: 5px 15px;
    cursor: pointer;
    display: none;
}
.text1, .text2, .text3{
    display: none;
    position: relative;
    width: 575px;
    font-family: Helvetica;
    font-size: 2vw;
    color: white;
    margin-left: 182px;
    margin-top: 0px;
}

#htext1, #htext2, #htext3{
    display: none;
}


@media screen and (max-width:1408px) {
    #link {
        display: none;
    }

    .btn,
    .btns {
        display: none;
    }

    .menu-button {
        max-width: 50px;
        border: 2px solid white;
        border-radius: 3px;
        padding: 5px 15px;
        cursor: pointer;
        display: block;
        background-color: white;
        position: absolute;
        right: 20px;
    }
}

@media screen and (max-width:1408px) {
    li {

        display: none;

    }

    .navbar {
        flex-direction: column;
        display: none;
    }

    body {
        height: 99vh;
        margin: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-image: linear-gradient(130deg, rgba(18, 54, 202, 1) 0 60%, rgba(202, 29, 44, 1) 40% 100%);
        background-position-x: 75%;
        background-position-y: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    #mobile-container {
        width: 60px;
        height: 200px;
        border-radius: 10px;
        position: absolute;
        background-color: white;
        text-align: center;
        padding: 10px;
        margin: 1px;
        text-decoration: none;
        top: 53px;
        right: 15px;
        z-index: 1;
    }

    #linkm, #linkm1, #linkm2, #linkm3 {
        text-decoration: none;
        color: black;
        font-size: 12px;
    }

    #linkm:hover, #linkm1:hover, #linkm2:hover, #linkm3:hover{
        text-decoration: underline;
    }

    .mobileb,
    .mobilebt {
        margin: 2px;
        width: 59px;
        height: 23px;
        background: white;
        border: none;
        font-size: 11px;
    }

    .menu-button {
        max-width: 50px;
        border: 2px solid white;
        border-radius: 3px;
        padding: 5px 15px;
        cursor: pointer;
        display: block;
        position: absolute;
        top: 20px;
        right: 15px;
    }

    img {
        display: block;
        margin: 0 auto;
    }


}

@media screen and (max-width:780px) {
    body {
        height: 100vh;
        margin: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-image: linear-gradient(130deg, rgba(18, 54, 202, 1) 0 60%, rgba(202, 29, 44, 1) 40% 100%);
        background-position-x: 75%;
        background-position-y: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .sect,
    .h1,
    #chang {
        max-width: 93%;
        margin: 0 auto;
        text-align: center;
        padding: 10px;

    }
    .text1, .text2, .text3{
        max-width: 97%;
        margin: 0 auto;
        text-align: center;
        padding: 10px;
        font-size: 16px;
    }

    .h1 {
        font-size: 49px;

    }

    #chang {
        font-size: 16px;
    }

    .create {
        margin: 0 auto;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
    }
    .circle1, .circle2, .circle3, .circle4{
        margin: 15px;
    }
}

@media screen and(max-width:604px) {
    body {
        height: 100vh;
        margin: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-image: linear-gradient(130deg, rgba(18, 54, 202, 1) 0 60%, rgba(202, 29, 44, 1) 40% 100%);
        background-position-x: 75%;
        background-position-y: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .sect {
        height: 40%;
    }
}


@keyframes Animacija {
    from {
        line-height: 0px;
        display: none;
    }

    ;

    to {
        line-height: 100px;
    }

    ;
}




   
    